.tablaDestacados{
    display: flex;
    align-self: center;
    background-color: rgba(210, 179, 0, 0.96);
    margin-top: 6rem;
    width: 93%;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 800;
}

.subdiv{
    display: flex;
    background-color: rgb(26, 26, 26);
    margin: .4rem 0 0 0;
    width: 99%;
    height: 125rem;
    border-radius: 8px 12px 8px 6px;
    box-shadow: 0px 25px 30px -10px rgba(202, 54, 0, 0.3);
}

.tabla{
    width: 75%;
    list-style-type: none;
    padding: 1.5rem 0 0 1.5rem;
    height: 98%;
}

.tabla ul{
    padding-left: 0;
    margin-top: 0;
    display: grid;
    flex-direction: column;
    height: 100%;
}

.tabla li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px 10px rgba(255, 221, 0, .9);
}

.tabla p{
    font-size: 1.2rem;
    font-weight: 800;
    width: 20%;  
}

.tabla .team{
    width: 40%;
}

.tabla .pos{
    width: 15%;
}

.tabla .dri{
    width: 25%;
}

.destacados{
    width: 25%;
    padding: 1.5rem 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    margin-bottom: 1rem;
    height: 24.5%;
    width: 80%;
}
